#codeSec {
    background: whitesmoke;
    min-height: 90vh;
}

.projects{
    width: 80%;
    margin: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 5rem;
}

.cards .card{
    background: white;
    margin: 5% 3rem;

    max-width: 25%;
    min-width: 20rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;

    border-radius: 3rem;
}

.cards .card p {
    padding: 3rem;
}


img {
    max-width: 90%;
    margin: 1rem auto;
}

@media screen and (max-width: 1200px) and (min-width: 700px) {
    .cards .card{ max-width: 40%; }
}
@media screen and (max-width: 700px) {
    .cards .card{ max-width: 100%; }
}
