#sportSec { background: whitesmoke; }
#sport { margin: 0 0; }

.horizontal-entry {
    display: inline-flex;

    width: 40vw;
    height: 20vh;

    margin: 20px 40px;

    background: white;
    border-radius: 30px 30px 30px 30px;
}

.horizontal-entry > img {
    height: 95%;
    margin: 1.5%;
}

.horizontal-entry > p {
    font-size: 20px;
    padding: 10px;

    text-align: justify;
}

.handball {
    display: flex;
    padding: 50px calc((10vw - 60px));
}

.triatlon {
    margin: 20px 0;
}

.tri-col {
    display: flex;

    margin: calc(((80vh - 100px) - 40vh) / 4) 1.8vw;
}

.strava-icon{ width: calc(20vw - 160px); }

.strava-icon > a > img {
    width: 100%;
    margin-top: calc((25vh - (20vw - 160px)) / 2);

    filter: grayscale(100%);
}

a > img:hover {
    filter: grayscale(0%);
}

#center-entry {
    margin: 0 calc((60vw - 80px) /2);
}
