.academy {
    background-image: url("/static/Photos/academic/estudios.jpg");
    background-size: 35vw 100vh;
    background-position: left center;
}

.cv-entry {
    height: 30vh;

    margin: auto;
    padding: 1.6vh 0;
    text-align: center;
}

.cv-title {
    float: left;

    height: 100%;
    width: 35%;
}

.cv-description {
    float: right;

    height: 100%;
    width: 65%;

    font-size: 25px;
    color: black; /*dimgray;*/
}

.cv-title > h1 {
    text-align: center;

    margin-top: calc((30vh - 40px) /2);
    margin-bottom: calc((30vh - 40px) /2);

    font-size: 40px;
    color: white;
}

.cv-description > p { margin: 50px 50px; }
