.photography {
    background-image: url("/static/Photos/Gallery/BW_5340.jpg");
    background-size: 100vw 40vh;
    background-position: top center;
}

.header {
    heigth: 40vh;
    text-align: center;

    padding: 40px 15vw;
}

.header > h1 {
    margin: 0;

    font-size: 100px;
    color: white;
}
.header > p {
    color: silver;
    font-size: 50px;
}

.gallery {
    display: flex;
    margin: calc((60vh - 0.6*28vw - 60px)/2) calc((14vw - 180px) / 2);
}

.photo { padding: 30px; }

.photo > img {
    width: 28vw;
    border-radius: 50px 50px 50px 50px;
 }
