@import "_home.css";
@import "_code.css";
@import "_academy.css";
@import "_sport.css";
@import "_photo.css";


html {
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: sans-serif;
}

h1 { font-size: 20rem; }
h2 { font-size: 5rem; }
p { font-size: 1.8rem; }
li { font-size: 1.5rem; }

a {
    font-size: 3.5rem;
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 1200px) {
    html{ font-size: 40%; }

    nav > h1 { flex: 0; }
    h1 { font-size: 10rem; }
    .home-title { grid-template-columns: 10% 1fr 10%; }

    .cards { flex-direction: column; }
}
